* {
  border: 1px solid blue;
}


.container {
  border: 1px solid red;
  /* display: flex;
  justify-content: center; */
}

.outside-box {
  max-width: 460px;
  height: 460px;
  margin: 15% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.inner-box:nth-child(1) {
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
  width: 190px;
}

.inner-box:nth-child(2) {
  display: flex;
  align-self: center;
}

.inner-box:nth-child(4) {
  align-self: flex-end;
}

.inner-box:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.inner-box:nth-child(7) {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /* justify-content: space-between; */
  flex-wrap: wrap-reverse;
}

#jump {
margin-left: 30px;
}

.inner-box:nth-child(8) {
  padding: 25px;
}

.inner-box:nth-child(9) {
  display: flex;
  border: 1px solid red
}

.inner-box:nth-child(10) {
  flex-direction: column;
  align-self: flex-end;
}

.inner-box:nth-child(11) {
  padding-right: 95px;
}



.upper-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jam-box {
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

/* .jaaam {
  display: flex;
} */

.centerboyz {
  text-align: center;
}

.centerboyz a {
  color: red;
}

body {
  background-image: url("../img/bg_stars.gif");
}

p {
  text-align: center;
  color: red;
}
